.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  &__title {
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
  }
  &__list {
    align-items: flex-end;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
    text-align: center;
    border-color: 3px black;
  }
  &__card {
    padding: 10px 10px 10px 10px;
    border-color: 3px black;
    background-color: #fcf4c9;
    border-radius: 10px;
  }
  &__card--type {
    text-align: center;
    background-color: white;
    list-style: none;
    border-radius: 10px;
  }
}
