.container {
  height: 100vh;

  &__title {
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-weight: 800;
    font-size: 42px;
  }
  &__list {
    list-style: none;
    text-align: center;
    border-color: 3px black;
    &--items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  &__card {
    padding: 10px 10px 10px 10px;
    border-color: 3px black;
    background-color: #fcf4c9;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
  }
  &__card--type {
    padding: 5px 0 5px 0;
    text-align: center;
    background-color: white;
    list-style: none;
    border-radius: 10px;
  }
}
@media all and (min-width: 768px) {
  .container__list--items {
    // font-size: 70px;
    // padding: 30px 0 40px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @media all and (min-width: 768px) {
    .container__list--items {
      padding: 30px 0 40px 0;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      &___title {
        font-size: 90px;
      }
    }
  }
}
